body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p {
    font-size: 1.5rem;
}

#mobile {
    display: none;
}

/* BANNER SECTION */

#banner {
    color: brown;
    margin-left: 2rem;
    height: 10%;
}

#banner img {
    height: 5rem;
}

/* HEADER SECTION */

#main-container {
    position: absolute;
    background-color: #58156d;
    /*background-color: #019875;*/
    /*background-color: #D20320;*/
    color: navajowhite;
    height: 100%;
    top: 10%;
}

/* BACKGROUND IMAGE */

#background-image {
    position: absolute;
    width: 100%;
    height: 120%;
    opacity: 0.1;
    top: 0;
}

/* CONTENT CONTAINER */

#content-container {
    position: relative;
    color: navajowhite;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80%;
    top: 0;
}

/* LEFT SIDE */

#left-container {
    width: 50%;
}

#box {
    height: 90%;
    padding: 2rem;
    color: white;
    text-align: center;
}

.catch-phrase {
    font-size: 2.5rem;
}

.title {
    font-size: 2.3rem;
}

#box button {
    padding: 0.7rem 2rem;
    border: 1px solid brown;
    border-radius: 30px;
    background-color: white;
    color: #58156d;
    box-shadow: 5px 5px 15px black;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

#box button:hover {
    background-color: rgb(153, 248, 11);
    transition-duration: 2s;
}

/* RIGHT SIDE */

#right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#right-container img {
    width: 50%;
}

/* DESCRIPTIO SECTION */

#description-container {
    position: absolute;
    top: 100%;
    height: 100%;
    background-color: white;
    /*color: #D20320;*/
    color: #58156d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
}

/* IMAGE ON LEFT SIDE */

#image-description {
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
}

#image-description #image {
     width: 70%;
}

/* DESCPTION ON RIGHT SIDE */

#text-description {
    width: 60%;
    height: 100%;
}

#text-description h1 {
    margin-bottom: 0;
    text-align: center;
}

#box-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description-box {
    padding: 0 1rem;
    width: 40%;
    height: 42%;
    color: #58156d;
    border-right: 1px solid #58156d;
    border-bottom: 1px solid #58156d;
    box-shadow: 5px 5px 15px black;
}

.description-box h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 4rem;
}

.description-box p {
    margin: 0;
    height: 8rem;
}

/* PRICE SECTION */

#price-container {
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    background-color: #58156d;
    position: absolute;
    top: 200%;
    height: 80%;
    width: 100%;
}

#price-container h2 {
    margin-bottom: 0;
}

#price-box {
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 10rem;
}

.price-content {
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    color: #58156d;
    border-radius: 30px;
    box-shadow: 5px 5px 20px black;
    min-height: 20rem;
}

.price-content button {
    width: 80%;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    background-color: #58156d;
    color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 15px black;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.price-content button:hover {
    background-color: rgb(153, 248, 11);
    color: brown;
    transition-duration: 2s;
}

.price-content h3 {
    background-color: #58156d;
    color: white;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0 2rem;
}

/* RATING SECTION */

#rating-container {
    position: absolute;
    top: 280%;
    height: 100%;
    text-align: center;
    color: #58156d;
}

#rating-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 4rem;
}

.rating-box {
    width: 18.5%;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 15px black;
    padding: 0.5rem 1.5rem;
    background-color: #58156d;
    color: white;
}

.rating-box img {
    width: 40%;
    margin: 1rem 0;
}

.rating-box p {
    margin: 0;
}

.rating {
    font-family: "Namdhinggo", serif;
    font-style: italic;
    min-height: 15rem;
    padding-top: 1rem;
}


/* FOOTER */

#computer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #58156d;
    width: 100%;
    height: 17%;
    position: absolute;
    top: 380%;
}

footer p {
    color: white;
    text-align: center;
}

/* FOOTER LEFT SIDE */

#follow {
    margin-left: 1rem;
    width: 20%;
}

#follow p {
    font-size: 1.3rem;;
}

#social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#social-media img {
    width: 2rem;
}

/* FOOTER MIDDLE */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}
 #about #contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact p {
    width: 30%;
    font-size: 0.9rem;
}

#about {
    width: 60%;
}

/* FOOTER RIGHT SIDE */

#secure {
    margin-right: 1rem;
    width: 20%;
}

#secure p {
    margin-bottom: 0.5rem;
}

#secure #payment img {
    height: 4rem;
}

#secure #payment .pay-pal {
    height: 2rem;
}

#payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#secure p {
    font-size: 1.3rem;
}

/* RESPONSIVE DESIGN SECTION */
/* WIDTH SIZE BETWEEN 1300PX AND 1024PX */

@media screen and (max-width: 1290px) {
    
    /* DESCRIPTION SECTION */

    #image-description {
        width: 35%;
    }

    #text-description {
        width: 65%;
    }
    
    /* RATING SECTION */

    #rating-content {
        flex-wrap: wrap;
    }

    .rating-box {
        width: 40%;
        height: 44%;
    }

    .rating {
        min-height: 7.5rem;
    }

    .rating-box img {
        width: 17%;
        margin: 0.7rem 0;
    }
    
    /* FOOTER SECTION */
    #computer {
        top: 390%;
    }
}

@media screen and (max-width: 1200px) {
    #image-description {
        width: 33%;
    }

    #image-description #image {
        width: 80%;
    }

    #text-description {
        width: 67%;
    }
}

@media screen and (max-width: 1160px) {
    #image-description {
        display: none;
    }

    #text-description {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {

}

/* WIDTH SIZE BETWEEN 1024PX AND ....*/

@media screen and (max-width: 1024px) {
    
    #main-container {
        height: 70%;
        top: 10%;
    }

    #background-image, #content-container {
        height: 100%;
    }

    #description-container {
        height: 70%;
        top: 100%;
    }

    #price-container {
        height: 60%;
        top: 125%;
    }

    #price-box {
        margin: 0;
    }

    #rating-container {
        height: 80%;
        top: 185%;
    }

    #computer {
        height: 12%;
        top: 265%;
    }
}

@media screen and (max-width: 769px) {
    #main-container {
        top: 8%;
    }

    #content-container {
        height: 68%;
    }

    #description-container {
        top: 57%;
        height: 82%;
    }

    #price-container {
        top: 137%;
    }

    #rating-container {
        top: 197%;
        height: 85%;
    }

    #computer {
        top: 282%;
        height: 14%;
    }

    #follow, #secure {
        width: 22%;
    }

    #about {
        width: 56%;
    }
}

@media screen and (max-width: 390px) {
    
    #banner img {
        width: 80%;
        height: 4rem;
    }

    #main-container {
        height: 120%;;
    }

    #content-container {
        flex-direction: column;
    }

    #left-container, #right-container {
        width: 95%;
        height: 45%;
    }

    #description-container {
        top: 90%;
        height: 175%;
    }

    #box-container {
        justify-content: space-around;
    }

    .description-box {
        width: 100%;
        height: 20%;
    }

    #price-container {
        top: 265%;
        height: 130%;
    }

    #price-content {
        width: 90%;
        height: 45%;
    }

    #price-box {
        flex-wrap: wrap;
    }

    #rating-container {
        top: 400%;
        height: 210%;
    }

    #rating-content {
        height: 90%;
    }

    .rating-box {
        width: 100%;
        height: 20%;
    }
    #computer {
        display: none;
    }
    footer #mobile {
        display: block;
        height: 80%;
        display: block;
        top: 610%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}


@media screen and (max-height: 769px) {
    #main-container {
        height: 80%;
        top: 10%;
    }

    #background-image, #content-container {
        height: 100%;
        top: 0%;
    }

    #description-container {
        height: 100%;
        top: 90%;
    }

    #price-container {
        height: 80%;
        top: 190%;
    }

    #rating-container {
        height: 120%;
        top: 270%;
    }

    #computer {
        height: 17%;
        top: 388%;
    }
}






