body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p {
    font-size: 1.5rem;
}

#banner {
    color: brown;
    margin-left: 2rem;
}

#banner img {
    height: 5rem;
}


#main-container {
    position: absolute;
    background-color: #58156d;
    /*background-color: #019875;*/
    /*background-color: #D20320;*/
    color: navajowhite;
    height: 80%;
}

#background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

#content-container {
    position: relative;
    color: navajowhite;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

#left-container {
    width: 50%;
}

#box {
    height: 90%;
    padding: 2rem;
    color: white;
    text-align: center;
}

.catch-phrase {
    font-size: 2.5rem;
}

.title {
    font-size: 2.3rem;
}

#box button {
    padding: 0.7rem 2rem;
    border: 1px solid brown;
    border-radius: 30px;
    background-color: white;
    color: #58156d;
    box-shadow: 5px 5px 15px black;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

#box button:hover {
    background-color: rgb(153, 248, 11);
    transition-duration: 2s;
}

#right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#right-container img {
    width: 50%;
}

#description-container {
    position: absolute;
    top: 80%;
    height: 100%;
    background-color: white;
    /*color: #D20320;*/
    color: #58156d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
}

#image-description {
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
}

#image-description #image {
     width: 70%;
}

#text-description {
    width: 60%;
    height: 100%;
}

#text-description h1 {
    margin-bottom: 0;
    text-align: center;
}

#box-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description-box {
    padding: 0 1rem;
    width: 40%;
    height: 40%;
    color: #58156d;
    border-right: 1px solid #58156d;
    border-bottom: 1px solid #58156d;
    box-shadow: 5px 5px 15px black;
}

.description-box h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 4rem;
}

.description-box p {
    margin: 0;
    height: 8rem;
}

#price-container {
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    background-color: #58156d;
    position: absolute;
    top: 180%;
    height: 80%;
    width: 100%;
}

#price-container h2 {
    margin-bottom: 0;
}

#price-box {
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 10rem;
}

.price-content {
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    color: #58156d;
    border-radius: 30px;
    box-shadow: 5px 5px 20px black;
    min-height: 20rem;
}

.price-content button {
    width: 80%;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    background-color: #58156d;
    color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 15px black;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.price-content button:hover {
    background-color: rgb(153, 248, 11);
    color: brown;
    transition-duration: 2s;
}

.price-content h3 {
    background-color: #58156d;
    color: white;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 0 2rem;
}

#rating-container {
    position: absolute;
    top: 260%;
    height: 80%;
    text-align: center;
    color: #58156d;
}

#rating-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.rating-box {
    width: 18.5%;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 15px black;
    padding: 0.5rem 1.5rem;
    background-color: #58156d;
    color: white;
}

.rating-box img {
    width: 40%;
    margin: 1rem 0
}

.rating-box p {
    margin: 0;
}

.rating {
    font-family: "Namdhinggo", serif;
    font-style: italic;
    min-height: 15rem;
    padding-top: 1rem;
}








